body {
  background: #201F25;
}

.container_16 {
  background: #fcfeff;
}

#search_results ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search_results ol li {
  list-style: none;
  padding: 0;
  margin: 15px;
}