<h2>Search Results - <span id="term"></span></h2>
<div>
  <div id="category_facets">
  </div>
  <div id="tag_facets">
  </div>
  <div id="search_results">
  </div>
</div>
<script type="text/javascript" src="/javascripts/solr.js"></script>